<%= form_for([@trail, @point]) do |f| %>
<div class="form-group">
  <%= f.label :name%><br>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :step %><br>
  <%= f.number_field :step %>
</div>
<div class="form-group">
  <%= f.label :terrain %><br>
  <%= f.text_field :terrain %>
</div>
<div class="form-group">
  <%= f.label :level %><br>
  <%= f.text_field :level %>
</div>
<div class="form-group">
  <%= f.submit class: "btn btn-primary"%>
</div>
<% end %>
