<%= form_for([@trail, @point]) do |f| %>
<p>
  <%= f.label :name%><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :step %><br>
  <%= f.number_field :step %>
</p>
<p>
  <%= f.label :terrain %><br>
  <%= f.text_field :terrain %>
</p>
<p>
  <%= f.label :level %><br>
  <%= f.text_field :level %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
