<%= form_for([@trail, @trail.points.build]) do |f| %>
<p>
  <%= f.label :name%><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :step %><br>
  <%= f.number_field :step %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
