<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @point.name %>
</p>

<p>
	<strong>Step:</strong>
	<%= @point.step %>
</p>

<p>
	<strong>Terrain:</strong>
	<%= @point.terrain %>
</p>

<p>
	<strong>Level:</strong>
	<%= @point.level %>
</p>

<%= link_to 'Edit', edit_trail_point_path(@trail, @point) %> |
<%= link_to 'Remove Waypoint', [@point.trail, @point],
	method: :delete,
	data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', @trail %>