<p id="notice"><%= notice %></p>

<h2>
	<strong>Name:</strong>
	<%= @trail.name %>
</h2>
<p>Topic: <%= @trail.topic %></p>
<p>Source: <%= @trail.source %></p>

<!---
<h2>Waypoints</h2>
<%= render @trail.points %>
-->
<h2>Waypoints</h2>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Step</th>
			<th>Name</th>
			<th>Terrain</th>
			<th>Level</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @trail.points.each do |point| %>
		<tr>
			<td><%= point.step %></td>
			<td><%= point.name %></td>
			<td><%= point.terrain %></td>
			<td><%= point.level %></td>
			<td><%= link_to 'Show', [point.trail, point] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2>Add a waypoint:</h2>
<%= render 'points/formNew' %>

<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
